@use "../styles/colors" as color;
$PAGE_PADDING: 8px;
$MAX_CONTENT_WIDTH: 600px;
$GRID_SIZE: 30;

$SNAKE_INITIAL_SPEED: 200;
$SNAKE_LIMITED_SPEED: 10;
$SNAKE_DELTA_SPEED: 2;

.container {
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    rgba(color.$gray-11, 0.8),
    rgba(color.$gray-5, 0.8)
  );
  display: flex;
  justify-content: center;
}
