@use "../../styles/colors" as color;
@import "../../styles/mixin";

.container {
  width: 300px;
  height: 100%;
  margin: 0 auto;

  p {
    @include text-styles(2rem, 500, color.$gray-5);
    text-align: center;
    margin-bottom: 1rem;
  }

  .reset {
    width: 100%;
    margin-top: 2rem;
    font-size: 2rem;
    background-color: aquamarine;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
  }
}
